* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}
#formm {
  display: flex;
  background-color: #f2f3f7;
  width: 400px;
  height: 500px;
}
h1 {
  text-align: center;
}
#textt {
  font-size: 14px;
  text-align: center;
}
#name {
  display: flex;
  flex-direction: row;
}
#form2 {
  display: flex;
  flex-direction: column;
}
