* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}
#main {
  background-color: #f2f3f7;
  width: 300px;
  height: 400px;
}
h1 {
  text-align: center;
  padding: 12px;
  color: #383535;
  z-index: 1;
}
#main > p {
  font-size: 12px;
  padding: 12px;
  color: #acadaf;
}
#name {
  padding: 8px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#fName {
  padding-right: 6px;
}
#lName {
  padding-left: 6px;
}
input {
  width: 100%;
  padding: 8px;
}
.row {
  width: 100%;
  padding: 8px 14px;
  float: left;
}
input[type="checkbox"] {
  width: 10%;
  padding: 2px;
  float: left;
}
.row > p {
  font-size: 12px;
  color: #acadaf;
  padding: 2px;
}
span {
  color: green;
}
button {
  background-color: green;
  color: white;
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 8px;
}
